html, body {
	background-color: #d9d9d9;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.hidden {
	display: none;
}

.login-pannel-container, .view-runs-pannel-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.view-runs-pannel-container {
	margin-top: 20px
}

.login-pannel, .register-pannel, .dashboard-pannel, .new-run-pannel, .new-elliptical-pannel,
	.view-runs-pannel, .new-elliptical-pannel, .view-elliptical-pannel {
	overflow: none;
	background-color: white;
	width: 400px;
	height: 400px;
	box-shadow: 5px 5px 5px black;
}

.view-runs-pannel {
	width: 1060px;
	height: 800px;
}

.view-elliptical-pannel {
	width: 1250px;
	height: 800px;
}

.register-pannel {
	height: 700px !important;
}

.new-run-pannel, .new-elliptical-pannel {
	width: 600px;
}

.new-elliptical-pannel {
	height: 500px;
}

.dashboard-pannel {
	height: 700px !important;
	width: 1000px !important;
}

.credentials {
	margin-top: 100px;
}

.username-label, .password-label, .password-verfiy-label {
	margin-top: 25px;
	width: 100%;
	position: relative;
	left: 175px;
	margin-bottom: 25px;
}

.password-verfiy-label {
	left: 150px !important
}

.username-entry {
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.username-input, .password-input {
	border-radius: 30px;
	border: 1px solid black;
	width: 75%;
	height: 20px;
	margin-left: 40px;
	padding-left: 25px;
}

.login-submit {
	font-size: large;
	margin-top: 25px;
	margin-left: 70px;
}

.register-submit, .new-run-submit, .new-run-return-dashboard, 
	.register-backl, .view-runs-return-dashboard, .view-elliptical-return-dashboard {
	font-size: large;
	margin-top: 25px;
	margin-left: 160px
}

.register-submit {
	margin-left: 100px !important;
}

.register-back {
	margin-left: 50px !important;
}

.new-run-submit {
	margin-left: 180px !important;
}

.new-run-return-dashboard {
	margin-left: 20px !important;
}

.view-runs-return-dashboard {
	margin-left: 475px !important;
}

.view-elliptical-return-dashboard {
	margin-left: 600px !important
}

.dashboard-submit {
	font-size: large;
	margin-top: 10px;
}

textarea:focus, input:focus {
	outline: none;
}

input[type=submit] {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.errorMessage, .registerMessage, .newRunErrorMessage,
	.newRunAddedMessage, .viewRunsSuccessMessage, .viewRunsErrorMessage, .viewRunsDeletedSuccessMessage {
	margin-top: 25px;
	margin-left: 75px;
	font-weight: bold;
	color: red;
}

.newRunErrorMessage {
	margin-left: 175px !important;
}

.registerMessage {
	color: green !important;
	margin-left: 100px !important;
}

.newRunAddedMessage {
	color: green !important;
	margin-left: 220px !important;
}

.viewRunsSuccessMessage {
	color: green !important;
    margin-left: 400px;
    font-size: 24px;
}

.viewRunsErrorMessage {
	margin-left: 350px;
	font-size: 24px;
}

.viewRunsDeletedSuccessMessage {
	margin-left: 460px !important;
	font-size: 24px;
	color: green !important;
}

.userInfo {
	margin-top: 25px;
	margin-left: 850px;
	width: 15%;
	font-size: large;
}

.newRunPannel, .newRacePannel, .newShoesPannel, .newEllipticalPannel,
	.viewRunPannel, .viewRacePannel, .viewEllipticalPannel,
	.viewShoesPannel {
	width: 210px;
	height: 200px;
	box-shadow: 5px 5px 5px black;
	margin-left: 30px;
	margin-top: 30px;
	text-align: center;
	font-size: 29px;
	background-color: #d9d9d9 !important;
	line-height: 7;
	border-radius: 50px !important;
	padding: 0 !important;
	border-width: 0 !important;
}

.options-container {
	margin-top: 30px
}

.options-row {
	display: inline-flex;
}

.run-label {
	font-size: large;
}

.run-input {
	border-radius: 10px;
}

.row {
	display: inline-block;
}

.race-row {
	display: inline-flex;
}

.run-entry {
	margin-left: 50px;
	margin-bottom: 50px;
}

.newRunTitle, .editRunTitle {
	font-size: 30px;
	margin-top: 10px;
	margin-left: 210px;
}

.editRunTitle {
	margin-left: 240px !important;
}

.NewRunTitleWrapper {
	margin-top: 25px
}

.newEllipticleTitleWrapper {
	margin-top: 25px;
	margin-left: 50px;
}

.newRunInfoWrapper {
	margin-top: 50px;
}

.viewRunsTitle {
	font-size: 30px;
	margin-left: 470px;
}

.viewRunTableWrapper {
	width: 90%;
	height: 600px;
	margin-left: 5%;
	overflow: auto;
}

.viewEllipticalTableWrapper {
	width: 100%;
	height: 600px;
	margin-left: 1%;
	overflow: auto;
}

.elliptical-entry {
	margin-left: 50px;
	margin-bottom: 25px;
}